@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="card card-authentication1 mx-auto my-4">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="text-center">
                <img src="/assets/images/logo-icon.png" alt="logo icon">
            </div>
            <div class="card-title text-uppercase text-center py-3">@ViewData["Title"]</div>
            <p>Your email successfully confirmed!</p>

        </div>
    </div>
    <div class="card-footer text-center py-3">
        <p class="text-warning mb-0"><a asp-page="./Login"> Sign In here</a></p>
    </div>
</div>

@Html.Partial("_RightSidebar")