@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<div class="card card-authentication1 mx-auto my-4">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="text-center">
                <img src="/assets/images/logo-icon.png" alt="logo icon">
            </div>
            <div class="card-title text-uppercase text-center py-3">@ViewData["Title"]</div>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>
                        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </p>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            }



        </div>
    </div>
</div>

@Html.Partial("_RightSidebar")